.deleteSpan {
    margin-left: 15px;
    font-weight: 700;
    color: rgb(163, 23, 23);
}

.todolist {
    margin-left: 15px;
    font-size: 25px;
    display: flex;
}

.inputTwo {
    margin-top: 20px;
    margin-right: 20px;
    width: 250px;
}

.itemTitle {
    font-style: italic;
}